<ul>
    <li><a href="/games">Games List</a></li>
    <% if (currentUser) { %>
        <li><a href="/games/new">Add a Game</a></li>
        <li><a href="/users/<%= currentUser._id %>">Home</a></li>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" name="logOut" id="logOut" value="Log Out">
            </form>
        </li>
    <% } else { %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/sessions/new">Log In</a></li>
    <% } %>
</ul>