<nav class="navbar navbar-expand"> 
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul  class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/games">Games List</a></li>
                <% if (currentUser) { %>
                    <li class="nav-item"><a class="nav-link" href="/games/new">Add a Game</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/<%= currentUser._id %>">Home</a></li>
                    <li class="nav-item order-first">
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input class="form-control nav-form w-100 btn btn-danger" type="submit" name="logOut" id="logOut" value="Log Out">
                        </form>
                    </li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/users/new">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sessions/new">Log In</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>