body {
    background-color: rgb(231, 226, 226);
    text-align: center;
}

nav {
    background-color: aquamarine;
}

.col-sm {
    background-color: papayawhip;
    margin: 10px;
    border-radius: 4px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

li {
    text-align: justify;
}

.nav-form {
    margin-right: 10px;
    display: block;
    background-clip: border-box;

}

img {
    width: 50%
}

.user-btns {
    width: 400px;
}

.small {
    width: 30%;
}