<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Add A Game</title>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>
    <h1>Create Page</h1>
    <form action="/games" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="year">Year: </label>
        <input type="text" name="year" id="year">
        <label for="description">Description: </label>
        <input type="text" name="description" id="description">
        <label for="designer">Designer: </label>
        <input type="text" name="designer" id="designer">
        <label for="publisher">Publisher: </label>
        <input type="text" name="publisher" id="publisher">
        <label for="playerCount">Players: </label>
        <input type="text" name="" id="">
        <label for="rating">Rating: </label>
        <input type="text" name="rating" id="rating">
        <label for="complexity">Complexity: </label>
        <input type="text" name="complexity" id="complexity">
        <label for="image">Image URL</label>
        <input type="url" name="image" id="image">
        <input type="submit" name="submit" id="submit" value="Create">
    </form>
</body>
</html>
