<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Sign Up</title>
</head>
<body class="text-center">
    <%- include ('../partials/nav.ejs') %>
    <main class="form-signin">
        <h1>Create a new User!</h1>
        <form action="/users" method="POST">
            <label for="username">Email</label>
            <input class="form-control" type="email" name="username" id="username" required>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Create">
        </form>
    </main>
</body>
</html>